
/*-------------------------------*/
/*dashboard-page*/
.content .container-xxl{
	padding-right: 40px !important;
	padding-left: 40px !important;
}

.primary-collor{
	color: var(--primary-collor) !important; 
}
.primary-bg{
	background-color : var(--primary-collor) !important;
}
.second-collor{
	color: var(--second-collor) !important; 
}
.second-bg{
	background-color : var(--second-collor) !important;
}
/*-------------------------------*/
/*dashboard-page*/

.dash-row .card{
	border-radius: 8px;
}
.dash-row .col-lg-3{
	min-width: 269px !important;
}
.dash-row .item-1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dash-row .item-1 i{
	font-size: 5rem;
	margin-bottom: 0;

}
.dash-row .item-2 h1{
	font-size: 4.5rem;
	margin-bottom: 0;
}
.dash-row .item-2 p{
	margin-top: -5px;
}
.dash-row .col-lg-3{
	min-width: 250px !important;
}
.dash-row.small .item-1 i{
	font-size: 3rem;
}
.dash-row.small .item-2 h1{
	font-size: 2.5rem;
}
.dash-row.small .item-2 p{
	font-size:  .8rem;
}
/*-------------------------------------------------------------*/
.datepicker-dropdown{
	z-index: 99999 !important;
}
/*-------------------------------------------------------------*/

.dash-chart{
    padding: 30px;
    
}
.dash-chart .item{
    padding-bottom: 40px;
    border-radius:  10px;
    transition:  .4s;
    text-align: center;
}
.dash-chart:hover .item{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.dash-chart .item h2{
    font-size: 2.5rem ;
}
.dash-chart .item i{

    font-size:  8rem ;
}
/*-------------------------------------------------------------*/
.h1, h1 {
  font-size: 22px;
  font-weight: 600;
}
.fs-5 {
  font-size: 12px !important;
}

/*-------------------------------------------------------------*/
.container-tangki{
	position: relative;
	width: 233px;
	height: 158px; 
	border: 2px solid #0f0a22;
	border-radius: 30px;
	

}
.container-tangki::before{
	content: '';
	width: 40px;
	height: 16px;
	border-radius: 6px;
	background-color: #ed591d;
	position: absolute;
	right: 30px;
	top: -16px;
}
.isi-tangki{
	position: relative;
	overflow: hidden;
	width: 100;
	height: 100%;

	border-radius: 30px;
}

.isi-tangki::before{
	content: '';
	position: absolute;
	bottom: 0;
	width:  100%;
	height: 60%;
	background-color: #13e700;
}

.text-tangki{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.text-tangki h2 {
	font-size-adjust: 0.58;

	font-size:  1.5rem;
}
.text-tangki h2 span {

	font-size: 10px !important;
	font-weight: normal;
}

